<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default index">
      <div class="container">
        <h5><span>Exercise:</span>
        <%= exercise.name %></h5>
        <h5><span>Sets:</span>
        <%= exercise.sets %></h5>
        <h5><span>Reps:</span>
        <%= exercise.reps %></h5>
        <% if !exercise.link.blank? %>
          <h5><a href="<%= exercise.link %>" target="_blank">Watch Video</a></h5>
        <% end %>
      </div>
    </div>  
  </div>
</div>  
    
  
