<div class="col-md-6">
  <div class="panel panel-default index">
    <div class="container">
      <h5><span>Exercise:</span>
      <%= exercise.name %></h5>
      <h5><span>Sets:</span>
      <%= exercise.sets %></h5>
      <h5><span>Reps:</span>
      <%= exercise.reps %></h5>
    </div>
  </div>  
</div>
<div class="col-md-6"></div>
  
